.tips-component {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    padding: 24px;
    width: 320px;
    height: 230px;
    border: 1px solid silver;
    border-radius: 5px;
    background: white;
    font-family: sans-serif;
}

.tips-component-controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
}

.tips-component-content {
    flex-grow: 1;
}

.tips-component {
    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background: white;
    }

    &::before {
        background: silver;
        z-index: -1;
    }

    &.bottom {
        &::before {
            bottom: -10px;
        }    
    
        &::after {
            bottom: -9px;
        }
    }

    &.right {
        &::before {
            left: -11px;
        }
    
        &::after {
            top: 24px;
            left: -10px;
        }
    }
}

h6 {
    margin: 15px 0 0;
    color: #666666;
    text-transform: uppercase;
}
