$main: red;


$main-color: red;
$btn-primary-color: #2D2D2D;
$btn-secondary-color: #EFEFEF;
$btn-ghost-color: transparent;
$btn-active: gray;
$btn-disabled: gray;
$btn-active: pink;
$btn-hover: purple;
